<config suite="RebtelAndroidTest" appiumHost="localhost" appiumPort="4040">
  <device deviceName="HTC Desire" platformName="Android" platformVersion="4.4.2" udid="LC4BRYE00659" region="Bangladesh">
    <app>com.rebtel.android.apk</app>
    <appPackage>com.rebtel.android</appPackage>
    <appActivity>.client.RebtelActivity</appActivity>
    <phoneNumber>01713185052</phoneNumber>
    <email>adas.wh@gmail.com</email>
    <pin>3987</pin>
  </device>
</config>